.basics-section {
  display: flex;
  flex-direction: column;
  position: relative;
}

.edit-btn-container {
  position: absolute;
  left: -6%;
  top: -10%;
  max-height: 40px;
  width: 40px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--dark-white);
  opacity: 0;
  transition: opacity 200ms ease;
  pointer-events: none;
}

.visible {
  opacity: 1;
  pointer-events: auto;
  z-index: 1;
}

.fa-edit {
  font-size: 20px;
  color: #525252;
}

.basics-section > div {
  height: 50%;
}

.name-title {
  height: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.name {
  font-size: 40px;
  color: var(--left-side-heading-color)
}

.title {
  font-size: 30px;
  color: var(--bright-white)
}

.phone-email {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.phone-email > div {
  display: flex;
  align-items: center;
  gap: 5px;
  color: var(--dark-white);
  font-size: 17px;
}

.basics-form {
  position: absolute;
  right: 108%;
  background-color: var(--right-side-background);
  width: 70%;
  display: flex;
  flex-direction: column;
  opacity: 0;
  transition: opacity 200ms ease;
  pointer-events: none;
  padding: 10px;
}

.form-visible {
  opacity: 1;
  pointer-events: auto;
}

.basics-form > div {
  display: flex;
  flex-direction: column;
  margin-left: 5px;
  gap: 5px;
}

label {
  color: var(--bright-white);
  font-weight: bold;
}

input {
  width: 70%;
  border-radius: 5px;
  height: 20px;
  padding: 0 5px 0 5px;
}

.form-btn-container {
  display: flex;
  justify-content: center;
}

button {
  width: 100px;
  height: 30px;
  border-radius: 5px;
  font-weight: bold;
  color: var(--dark-white);
  background-color: var(--left-side-heading-color);
  border: none;
  margin-top: 5px;
}

button:hover {
  background-color: #db2777;
}