* {
  margin: 0;
  padding: 0;
}

:root {
  --left-side-background: #9d174d;
  --left-side-heading-color: #ec4899;
  --right-side-background: #71717a;
  --bright-white: #f3f4f6;
  --dark-white: #d1d5db;
}
 
#root {
  width: 100vw;
  height: fit-content;
  display: flex;
  justify-content: center;
}

h2 {
  font-size: 30px;
}

.template {
  width: 60%;
  height: 150vh;
  display: flex;
  margin-top: 40px;
}

.template > div {
  height: 100%;
}

.left-side {
  display: flex;
  flex-direction: column;
  width: 55%;
  background-color: var(--left-side-background);
}

.left-side > div {
  height: 25%;
  max-width: 60%;
  margin-left: 15px;
}

.right-side {
  width: 45%;
  background-color: var(--right-side-background);
}