* {
  margin: 0;
  padding: 0;
}

#root {
  width: 100vw;
  height: fit-content;
  display: flex;
  justify-content: center;
}

h2 {
  font-size: 30px;
}

.template {
  width: 67%;
  height: 150vh;
  border: 1px solid black;
  display: flex;
  margin-top: 40px;
}

.template > div {
  border: 1px solid black;
  height: 100%;
}

.left-side {
  display: flex;
  flex-direction: column;
  width: 55%;
}

.left-side > div {
  flex-grow: 1;
  margin-left: 20px;
}

.right-side {
  width: 45%;
}